<nav class="navbar"> 
    <div class="navbox">

        <a href="/"><div class="nav-logo nav-item">
            <i class="fa-solid fa-x"></i>
        </div></a>
    
        <a href="/"><div class="nav-home nav-item">
             <i class="fa-solid fa-house"></i>
        </div></a>

        <a href="/"><div class="nav-search nav-item">
          <i class="fa-brands fa-searchengin"></i>
        </div></a>
    

        <a href="/"><div class="nav-notify nav-item">
            <i class="fa-solid fa-bell"></i>
        </div></a>
    
        <a href="/"><div class="nav-addPost nav-item">
            <i class="fa-solid fa-plus"></i>
        </div></a>

</div>
  







   
    {{!-- <div class="nav-signin nav-item"><a href="/signin">Sign In</a></div>
    <div class="nav-cart nav-item">
        Cart
    <i class="fa-solid fa-cart-shopping"></i>
    </div>
    {{#if isLoggedIn}}
    <div class="nav-item nav-logout">
        <a href="/logout">Logout</a>
    </div>
    {{/if}}
    {{#if isAdmin}}
    <div class="nav-item">
        <a href="/admin/addproduct">Add Product</a>
    </div>
    {{/if}} --}}
</nav>