<div class="box-1">
    <div class="nav-box">
        <div class="navbar">
            <a href="/">
                <div class="nav-logo">
                    <img src="https://loodibee.com/wp-content/uploads/Twitter-X-Logo.png" alt="logo" />
                </div>
            </a>

            <div class="homepage">
                <a href="/homepage">
                    <div class="nav-home nav-item">
                        <i class="fa-solid fa-house"></i>
                        <span class="space">Home</span>
                    </div>
                </a>
            </div>


            <div class="trending">
                <a href="/trending">
                    <div class="nav-search nav-item">
                        <i class="fa-brands fa-searchengin"></i>
                        <span class="space">Trending</span>
                    </div>
                </a>
            </div>


            <div class="profile">
                <a href="/profile">
                    <div class="nav-addPost nav-item">
                        <i class="fa-solid fa-user"></i>
                        <span class="space">Profile</span>
                    </div>
                </a>
            </div>


        </div>
    </div>

</div>