<div class="box-3">


            <div class="Premium-box">
                <div class="heading-1">
                    <div class="prem-a">Subscribe to Premium</div>
                    <div class="prem-b">Subscribe to unlock new features and if eligible, receive a share of ads
                        revenue.</div>
                    <button><a href="/payment" class="payment-link">Subscribe</a></button>
                </div>
            </div>

            <div class="happening-box">
                <div class="heading-2"> What’s happening</div>
                <div class="happen">
                    <div class="happen-a">Trending in India
                        <div><i class="fa-solid fa-ellipsis"></i></div>
                    </div>
                    <div class="happen-b">#viralvideo</div>
                    <div class="happen-c">60.1K posts</div>

                    <div class="happen-a">Trending in India
                        <div><i class="fa-solid fa-ellipsis"></i></div>
                    </div>
                    <div class="happen-b">#viralvideo</div>
                    <div class="happen-c">60.1K posts</div>

                    <div class="happen-a">Trending in India
                        <div><i class="fa-solid fa-ellipsis"></i></div>
                    </div>
                    <div class="happen-b">#viralvideo</div>
                    <div class="happen-c">60.1K posts</div>

                    <div class="happen-a">Trending in India
                        <div><i class="fa-solid fa-ellipsis"></i></div>
                    </div>
                    <div class="happen-b">#viralvideo</div>
                    <div class="happen-c">60.1K posts</div>

                </div>

            </div>

        </div>