<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>

    <link rel="stylesheet" href="/styles/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="container">
        <div class="box-1">
            <div class="navbar">
                
                <a href="/"><div class="nav-logo nav-item">
                   <img src="https://1000logos.net/wp-content/uploads/2017/06/Twitter-Log%D0%BE.png" alt="logo">
                </div></a>
            
                <a href="/"><div class="nav-home nav-item">
                    <i class="fa-solid fa-house"></i>
                    <span class="space">Home</span>
                </div></a>

                <a href="/"><div class="nav-search nav-item">
                <i class="fa-brands fa-searchengin"></i>
                <span class="space">Explore</span>
                </div></a>
            

                <a href="/"><div class="nav-notify nav-item">
                    <i class="fa-solid fa-bell"></i>
                    <span class="space">  Notifications</span>
                  
                </div></a>
            
                <a href="/"><div class="nav-addPost nav-item">
                    <i class="fa-solid fa-plus"></i>
                    <span class="space"> Add Post</span>
                   
                </div></a>


                <a href="/"><div class="nav-addPost nav-item">
                    <i class="fa-solid fa-user"></i>
                    <span class="space">Profile</span>
                  
                </div></a>

                <button class="btn">Post</button>
        </div>

        </div>

    
     <!-- box-2 -->
        
   

        <div class="box-2">
            <div class="firstbar">
                <button class="foryou  button" >For you</button>
                <button class="following  button">Following</button>
                <button class="setting  "> 
                    <i class="fa-solid fa-gear"></i>
                </button>
            </div>

            <div class="tweet">
                <div class="margin-tweet">
                    <div class="sub-div">
                        <div class="google-image"></div>
                        
                        <div class="text">
                            <div class="ar">
                                <div class="writingtxt">
                                    What is happening!
                                </div>
                                <div class="br">
                                    <div class="global">
                                        <a href="#"><i class="fa-solid fa-globe"></i>
                                            Everyone can apply
                                        </a>
                                    </div>
                                    <div class="reactions">
                                        <div class="a"><i class="fa-solid fa-image"></i></div>
                                        <div class="a"><i class="fa-solid fa-square-poll-vertical"></i></div>
                                        <div class="a"><i class="fa-solid fa-face-smile"></i></div>
                                        <div class="a"><i class="fa-solid fa-calendar-days"></i></div>
                                        <div class="a"><i class="fa-solid fa-location-dot"></i></div>
                                        <button class="submit">Post</button>
                                    </div>

                                    
                                </div>

                            </div>
                        </div>
                    </div>
            </div>
            </div>

        </div>
  

</div>
</body>
</html>