<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Profile Page</h1>
    {{!-- {{user}} --}}

    Image: <img src={{user.google_img}} alt="Google Image"> <br>
    Name: {{user.username}} <br>
    Google Access Token: {{user.google_accessToken}}  <br>

    <br>
    {{#if isLoggedIn}}
    <div>
        <a href="/logout">Logout</a>
    </div>
    {{/if}}

</body>
</html>