.navbar{
  
    display: flex;
    flex-direction: column;
    
 }
 .container{
     display: flex;
 }
 
 .nav-logo{
    display: flex;
    justify-content: center;
 }
 .nav-logo img{
     height: 55px;
     width: 50px;
     background-color: transparent;
 }

 .homepage,.trending,.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin: 15px 0px;
 }

 a:visited{
    color: rgba(223,248,175,0.9);
 }

 .nav-item{
     
     font-size: 22px;
     color: #769453 !important;
     /* background-color: ; */
     
 }
 
 .nav-item:hover{
    background-color:rgb(223,248,175,0.9);
 }


 
 .nav-item {
    border-radius: 50px;
    width: 121px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }
   a{
    text-decoration: none;
     
     
   }
 .box-1{
     width: 22%;
     height: 642px;
 
     align-items: center;
     position: fixed;
     left: 0;
 
 }
 .nav-item .space{
     padding-left: 5px;
     text-decoration: none;
 }
 .btn{
     border: 1px solid rgb(64, 187, 228);
     border-radius: 50px;
     background-color: rgb(64, 187, 228);
     color: white;
     font-size: medium;
     height: 45px;
     width: 150px;
     margin-left: 66px;
 }
 .container-2{
     /* width: 40%; */
     border: 1px solid black;
 }
 .firstbar{
     display: flex;
     justify-content: space-evenly;
 }
 .box-2{
     height: 900px;
     width: 46%;
     margin-left: 260px;
     
 }

.fixed-box{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.inputicon{
    font-size: 32px;
}

 .box-2 .firstbar{
     border-bottom: 1px solid black;
     height: 50px;
 
 
 }
 .foryou{
     /* height: 80px; */
     width: 270px;
     font-size: medium;
 }
 .following{
     /* height: 80px; */
     width: 270px;
     font-size: medium;
 }
  .setting{
     width: 90px;
     
 }
 .setting i{
     width: 95px;
     font-size: medium;
 }
 .tweet{
    box-shadow: 0px 5px 5px grey;
    border: 2px solid #769453;
    background-color: white;
    border-radius: 10px;
    margin-top: 5px;
 }
 .margin-tweet{
     border: 1px solid black;
     
 
 }
 .sub-div{
     height: 130px;
     width: 500px;
     display:flex ;
     /* margin-left: 3px */
 }
 
 .sub-div .profile-image{
     width: 60px;
     border: 1px solid black;
     margin-left: 80px;
     
 }

 /* .main-content{
    background-color: #edf6f9;
 } */
 .text{
     margin-left: 10px;
     
 }
 .writingtxt{
     font-size: 32px;
     margin-bottom: 18px;
 
 }
 .text .ar{
     width: 520px;
 }
 
 .sub-div .global{
     font-size: medium;
     padding-bottom: 8px;
     border-bottom:1px solid rgb(184, 181, 181) ;
    
    
 }
     
 
 .sub-div .global a{
   text-decoration: none;
   color: rgb(64, 187, 228);
   font-weight: 600;
   /* margin-bottom: 12px;
   margin-top: 8px; */
 }
 .reactions .a input{
     display: none;
     cursor: pointer;
 }
 
 .br .reactions{
     
     display: flex;
     justify-content: space-evenly;
     font-size: larger;
     color: rgb(64, 187, 228);
     margin-top: 12px;
 
    
 }
 .br .reactions button{
     color: rgb(64, 187, 228);
          margin-bottom: 3px;
     /* padding: 10px; */
     border: 0px;
     border-radius: 100%;
  
     font-size: medium;
     background-color: white;
     cursor: pointer;
     width: 25px;
     height: 25px;
     align-items: center;
 
 }
 
 .custom-file-input {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.custom-file-input input {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
}

.file-label {
    position: relative;
    display: inline-block;
    /* background-color: rgb(64, 187, 228); */
    color: white;
    /* border: 1px solid rgb(64, 187, 228); */
    border-radius: 50px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.file-label i {
    font-size: 27px;
}

.submit {
    background-color: rgb(64, 187, 228);
    color: white;
    border: 1px solid rgb(64, 187, 228);
    border-radius: 50px;
    height: 30px;
    width: 65px;
    cursor: pointer;
    margin-left: 400px; /* Adjust margin as needed */
}

.file-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(64, 187, 228); /* Customize the text color */
    width: 100%;
    height: 100%;
}

.icon{
    font-size: 20px;
}

/* Hide the default file input */
.hidden {
    display: none;
}



 
 .br .reactions .submit{
    background-color: rgb(64, 187, 228);
    color: white;
    border: 1px solid rgb(64, 187, 228);
    border-radius: 50px;
    height: 25px;
    width: 65px;
    /* margin-left: 128px; */
 }
 .box-3{
     width: 33%;
     height: 900px;
     position: fixed;
     right: 0;
 }
 .box-3 .search-bar{
     height: 45px;
     width: 300px;
     border: 1px solid black;
     margin-left: 20px;
     border-radius: 30px;
     display: flex;
 }
 .box-3 .search-icon{
     width: 30px;
     height: 50px;
     /* border: 1px solid black; */
     margin-left: 15px;
     
 }
 .box-3 .search-bar .icon{
     margin-left: 1000px;
 }
 .box-3 .search-icon i{
     margin-left: 4px;
     margin-top: 15px;
     
 }
 
 .box-3 .search-bar .input{
     margin-left: 10px;
     margin-top: 12px;
     /* ; */
     width: 300px;
     height: 50px;
     
 }
 .box-3 .search-bar .input input{
     margin-left: 10px;
     /* margin-top:4px; */
     /* ; */
     width: 200px;
     height: 28px;
     margin-bottom: 4px;
     border: none;
     
 }
 .Premium-box{
      /* border: 1px solid black; */
      width: 370px;
      height: 170px;
      margin-left: 20px   ;
      margin-top:16px ;
      border-radius: 20px;
      background-color: #b3c89a;
    
 }
 
 .Premium-box .prem-a{
     /* border-bottom: 1px solid black; */
     width: 350px;
     height: 45px;
    padding-top: 10px;
     margin-left: 14px;
     font-weight: 600;
     font-size: 22px;
    
 }
 .Premium-box .prem-b{
     /* border-bottom: 1px solid black; */
     width: 350px;
     height: 50px;
     margin-left: 14px;
     margin-top: 5px;
     font-size: 15px;
   
 }
 .Premium-box  button{
     /* border-bottom: 1px solid black; */
     width: 120px;
     height: 40px;
     border-radius: 50px;
     margin-left: 14px;
     color: rgba(223,248,175,0.9);
     background-color: #769453;
     font-size: 15px;
    
 }
 .nav-box{
    width: 230px;
    height: 635px;
    margin-left: 7px;
    margin-top: 5px;
    border-radius: 20px;
    background-color: #b3c89a;
    position: sticky;
 }
 .happening-box{
     /* border: 1px solid black; */
     width: 370px;
     height: 440px;
     margin-left: 20px   ;
     margin-top:16px ;
     border-radius: 20px;
     background-color: #b3c89a;
     position: sticky;
  
   
 }
 .heading-2{
     /* border-bottom: 1px solid; */
     font-size: 23px;
     font-weight: 600;
     margin-left: 14px;
     padding-top: 17px;
     
 }
 .happen{
     margin-top: 30px;
 }
 
 .happen-a{
  margin-left: 14px;
  color: beige;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
 }
 
 .happen-b{
     margin-left: 14px;
     color: black;
    
    }
 .happen-c{
     margin-left: 14px;
     color: rgb(27 2 2);
     margin-bottom: 20px;
     
  }
  .showmore a{
    text-decoration: none;
    font-size: large;
    margin-left: 16px;
    color: white;
  }
  .footer{
     /* display: flex; */
     /* border: 1px solid black; */
    
     height: 50px;
     width: 350px;
     margin-left: 23px;
     margin-top: 20px;
    
  }
  .footer a{
     padding-left: 9px;
     padding-bottom: 17px;
     color: #515354;
}


.add-tweet-form{
    height: 160px;
    display: flex;
    flex-direction: row;

}

.add-tweet-form a{
    display: inline-block;
}

.add-tweet-form a div{
    margin-top: 5px;
}

.newcomment{
    color: black;
}
.input-tweet{
    height: 70px;
    width: 475px;
    /* margin: auto; */
    border: none;
    outline: none;
    outline: none;
    padding-left: 20px;
    padding-top: 20px;
    resize: none;
    
    /* word-wrap: break-word; */
    /* white-space: pre-wrap; */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    /* inline-size: 500px;
    overflow-wrap: break-word; */
    /* word-break: break-all; */
}

*:focus {
    outline: none;
}


/*Modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 200px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  /* loader */
  #loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px; /* Adjust based on half of the loader height */
    margin-left: -15px; /* Adjust based on half of the loader width */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}