*{
    color: black;
}

body{
    color: black;
    background-color: #e9edc9;
}

.deletelink{
    color: black;
}

.profilepic{
    border-radius: 50px;
}

.profile-details{
    padding-left: 20px;
}

.top-bar{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    border: 2px solid black;
    background-color: #dde5b6;
    align-content: center;
    position: sticky;
    top: 0;
    opacity: 0.9;
    display: flex;
    justify-content: space-evenly;
}

.profileimg{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.profileimg{
    height: 150px;
}

.container-details{
    width: fit-content;
    margin: auto;
    background-color: #fefae0;
}

.big-container{
    width: 100%;
    margin-top:50px
}

.profilename{
    font-size: 30px;
    font-weight: 500;
}

.container-details{
    margin-bottom: 20px;
}

.left{
    float: left;

}

a:visited{
    color: black;
}

a:hover{
    color: blue;
}
.right{
    float: right;
    color: black;
    font-size: 30px;
    margin-right: 20px;
}

