*{
    margin: 0;
    padding: 0;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}

html { overflow-y: scroll; }

.main-container{
    border: 5px solid black;
    /* height: 900px; */
    /* min-height: 100px;
    overflow: hidden; */
    /* height: fit-content; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* overflow: hidden; */
    border-radius: 20px;
    margin: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.container-details{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 35px;
    /* border: 2px solid grey; */
}
.profile-image{
    border: 1px solid black;
    width: 50px;
    border-radius: 60%;
    background-position: center;
    background-size: cover;
    height: 50px;
    /* z-index: 2; */
    background-repeat: no-repeat;
    margin: auto;
    margin: 0px 0px 0px 10px;

}

.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
    margin-left: 97px;
    margin-top: 10px;
}

.icon{
    /* color: aqua; */
    border: none;
    font-size: 20px;
    background-color: transparent;
}

.icon:hover{
    cursor: pointer;
}
.tweet-text{
    /* margin: 0px 0px 0px 10px; */
    /* border: 1px solid green; */
    font-size: 15px;
}

.date{
    width: 400px;
}
.name-user{
    /* border: 2px solid red; */
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    align-self: flex-start;
    /* margin-bottom: 20px; */
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 500;
    align-items: center;

}

.tweet-info{
    /* display: flex;
    flex-direction: column;
    margin-left: 20px; */
    /* border: 2px solid black; */
    margin-left: 100px;
    margin-top: 10px;
    width: auto;
}

.user-details{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 565px;
}

.media{
    height: 300px;
    width: 300px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-left: 97px;
    margin-top: 20px;
    
}
/* .media .image{
    height: 300px;
    width: 300px;
} */

/* div:not(#nameuser){
    align-items: flex-start;
} */