<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/styles/signup.css">
</head>
<body>
    <div class="container-1">
            <div class="nav-bar">
                <div class="logo">
                    <a href="/">
                           <img src="https://clipartcraft.com/images/x-transparent-logo-3.png" alt="Logo">
                    </a>
                </div>
            </div>


            <div class="midbox">
                <h3 class="message">{{msg}}</h3>
                <div class="login">Sign Up for X</div>                
                <form action="/signup" method="POST">
                <div class="line"></div>
                <div class="text">Username</div>
                <div >
                    <input class="checkbox" type="text" placeholder="Enter Username" name="username"></input>
                </div>

                <div class="text">Password</div>
                <div >
                    <input class="checkbox" type="password" placeholder="Enter Password" name="password"></input>
                </div>

                <div >
                    <button type="submit" class="buttonLog">SIGN UP</button>
                </div>

                <a href="#">
                   <div class="forget">Forgot your password?</div>
                </a> 
               <div class="line2"></div>

                </form>
            </div>

        </div>
</body>
</html>